<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.prg">
<head>

    <title>BankApplication</title>
</head>
<body>
<form method="POST" accept-charset="/transfer">
    <label for="from">From</label>
    <input name="from" type="text" id="from"/>
    <br>

    <label for="to">To</label>
    <input name="to" type="text" id="to"/>

    <br>

    <label for="amount">Amount</label>
    <input name="amount" type="text" id="amount"/>

    <br>
    <input type="submit" value="Transfer money">
</body>
</html>
