<!DOCTYPE html>
<html>
  <head>
    <title>BankApplication</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      body {
        background-image: url(images/stacks-of-coins-arranged-in-a-bar-graph.jpg);
        background-size: cover;
      }
    </style>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  |
  <body>
    <div class="wrapper">
      <form action="">
        <h1>BankApplication</h1>
        <div class="input-box">
          <input type="text" placeholder="from" required />
          <i class="bx bxs-bank"></i>
        </div>
        <div class="input-box">
          <input type="number" placeholder="to" required />
          <i class="bx bx-user"></i>
        </div>

        <div class="remember-forgot">
          <label
            ><input type="checkbox" /> Я хз, зачем он здесь, но я умею так
            делать</label
          >
          <a href="#">You need help?</a>
        </div>
        <button type="submit" class="btn">Transfer money</button>
      </form>
    </div>
  </body>
</html>

